@charset "utf-8";
/*Urwah Nauman, Candidate No., PK-896*/
h1,h2, h3, h4, h5, h6,p {text-align:center; text-decoration:underline; font-size:9px; font-family:"Trebuchet MS", serif, sans-serif; font-weight:bold;
font-style:italic; color:#0000ff;}
body {background-color:0000ff; background-image:url(MicrosoftTeams-image.png); background-repeat:no-repeat; background-position:bottom;}
table, td {border:0}
table {margin-left:auto;margin-right:auto;}

